---
import Container from "@/components/common/Container.astro";
import SiteHeader from "../layouts/SiteHeader.astro";
---

<SiteHeader />

<section class="pt-28">
  <Container>
    <div class="flex justify-center">
     
    </div>
  </Container>
</section>