---
import Container from "@/components/common/Container.astro";
import SiteHeader from "../layouts/SiteHeader.astro";
---

<SiteHeader />
<Container>
  <section class="relative overflow-hidden pt-30">
    <div class="flex flex-col items-center justify-center text-center">
      <img
        src="/images/hero/logo3.png"
        alt="StoryGames Logo"
        class="p-6 h-48 object-contain "
      />
    </div>
  </section>
</Container>
