---
import Container from '../components/common/Container.astro';
import MainNav from './MainNav.astro';
import LanguageSwitcher from './LanguageSwitcher.vue';
---

<header class="absolute inset-x-0 top-0 z-30 px-5">
    <div class="flex font-monrope h-20 items-center justify-between">
      <div class="flex items-center gap-6 lg:gap-8">
        <a href="/" class="shrink-0">
          <img
            src="/images/hero/logo-main.png"
            alt="StoryGames"
            class="h-10 w-10 object-contain md:h-12 md:w-12"
          />
        </a>

        <MainNav />
      </div>

      <LanguageSwitcher client:load />
    </div>
</header>