---
import Container from '../components/common/Container.astro';
import MainNav from './MainNav.astro';
import LanguageSwitcher from './LanguageSwitcher.vue';
---

<header class="absolute inset-x-0 top-0 z-30">
  <Container>
    <div class="flex h-20 items-center justify-between">
      <a href="/" class="flex items-center gap-3">
        <img src="/images/hero/logo-main.png" alt="StoryGames" class="h-12 w-12 object-contain" />
        <span class="font-semibold tracking-[0.2em] text-white">STORYGAMES</span>
      </a>

      <MainNav />
      <LanguageSwitcher client:load />
    </div>
  </Container>
</header>