---
import Container from "../components/common/Container.astro";
import SocialLinks from "../components/common/SocialLinks.astro";
import { socials } from "@/data/socials.ts";
---

<footer id="contacts" class="relative overflow-hidden bg-[#12091d] pt-30">
  <Container>
    <div
      class="absolute inset-0 opacity-35"
      style="background-image:url('/images/footer/station-bg.png'); background-size:cover; background-position:center;"
    >
    </div>

    <div class="relative text-center pb-30">
      <h3 class="font-handil text-3xl uppercase text-white md:text-4xl">
        StoryGames
      </h3>

      <p class="mx-auto mt-4 max-w-2xl text-center text-white/75">
        Инди-студия из Перми. Делаем атмосферные игры, рассказываем истории и
        собираем вокруг себя людей, которым это действительно важно.
      </p>

      <div class="flex mt-8 itmes-center justify-center">
        <SocialLinks items={socials} />
      </div>

      <div class="mt-10 border-t border-white/10 pt-6 text-sm text-white/60">
        © StoryGames. Все права защищены.
      </div>
    </div>
  </Container>
</footer>
