---
import Container from "@/components/common/Container.astro";
import ProjectPageTitle from "../components/common/ProjectPageTitle.astro";
import SiteHeader from "../layouts/SiteHeader.astro";
---

<SiteHeader />
<section class="relative overflow-hidden pt-20">
    <div
        class="relative z-10 flex min-h-[260px] flex-col items-center justify-center"
    >
        <ProjectPageTitle title="Проекты" />
    </div>
</section>
